<navi-bar></navi-bar>
<logo-bar></logo-bar>
<div class = 'panel callout'>
  <h1>{{pageTitle}}</h1>
</div>

<div class= 'panel' >
  <div class ='row'>
    <div class='large-2 columns'>
      Filter By:
    </div>
  </div>
  <div class='large-10 columns'>
    <input type='text' [(ngModel)] = 'listFilter' />
  </div>
  <div>
    <table>
      <div class="MSZkRb">
        <span class="">March 2018</span>
        <div role="button" class="" aria-label="Previous month" aria-disabled="false" tabindex="0" >
          <div class="" ></div>
          <content class="xjKiLb">
            <span style="top: -9px">
            </span>
          </content>
        </div>
        <div role="button" class="" aria-label="Next month" aria-disabled="false" tabindex="0">
        <div class="" ></div>
        <content class="">
          <span style="top: -9px">
            <span class="" aria-hidden="true"></span>
          </span>
        </content>
      </div>
    </div>
    <div role="row" class="">
      <span role="columnheader" aria-readonly="true" aria-label="Monday">
        <span aria-hidden="true">M</span>
      </span>
    </div>
    <div role="row" class="">
      <span role="columnheader" aria-readonly="true" aria-label="Tuesday">
        <span aria-hidden="true">T</span>
      </span>
    </div>    
    <div role="row" class="">
      <span role="columnheader" aria-readonly="true" aria-label="Wednesday">
        <span aria-hidden="true">W</span>
      </span>
    </div>    
    <div role="row" class="">
      <span role="columnheader" aria-readonly="true" aria-label="Thursday">
        <span aria-hidden="true">T</span>
      </span>
    </div>
    <div role="row" class="">
      <span role="columnheader" aria-readonly="true" aria-label="Friday">
        <span aria-hidden="true">F</span>
      </span>
    </div>
    <div role="row" class="">
      <span role="columnheader" aria-readonly="true" aria-label="Saturday">
        <span aria-hidden="true">S</span>
      </span>
    </div>
    <div role="row" class="">
      <span role="columnheader" aria-readonly="true" aria-label="Sunday">
        <span aria-hidden="true">S</span>
      </span>
    </div>    
    <div role="rowgroup" class="">
      <div role="row" class="">
        <span class="" data-grid-cell="true" tabindex="-1" >
          <div aria-hidden="true" class="">
            26
          </div>
        </span>
      </div>
      <span class="" data-grid-cell="true" tabindex="-1" >
          <div aria-hidden="true" class="r4nke ">
            27
          </div>
         </span>
        </span>
        <span class="" data-grid-cell="true" tabindex="-1" >
            <div aria-hidden="true" class="">
              28
            </div>
           </span>
          </span>
          <span class="" data-grid-cell="true" tabindex="-1" >
            <div aria-hidden="true" class="r4nke ">
              1
            </div>
           </span>
          </span>
          <span class="" data-grid-cell="true" tabindex="-1" >
              <div aria-hidden="true" class="r4nke ">
                2
              </div>
             </span>
            </span>
          </div>
          <div role="row" class="">
              <span class="" data-grid-cell="true" tabindex="-1" >
                <div aria-hidden="true" class="">
                  3
                </div>
               </span>
              </span>
              <span class="" data-grid-cell="true" tabindex="-1" >
                <div aria-hidden="true" class="r4nke ">
                  4
                </div>
               </span>
              </span>
              <span class="" data-grid-cell="true" tabindex="-1" >
                  <div aria-hidden="true" class="">
                    5
                  </div>
                 </span>
                </span>
                <span class="" data-grid-cell="true" tabindex="-1" >
                  <div aria-hidden="true" class="r4nke ">
                    6
                  </div>
                 </span>
                </span>
                <span class="" data-grid-cell="true" tabindex="-1" >
                    <div aria-hidden="true" class="r4nke ">
                      7
                    </div>
                   </span>
                  </span>
                </div>
                <div role="row" class="">
                    <span class="" data-grid-cell="true" tabindex="-1" >
                      <div aria-hidden="true" class="">
                        3
                      </div>
                     </span>
                    </span>
                    <span class="" data-grid-cell="true" tabindex="-1" >
                      <div aria-hidden="true" class="r4nke ">
                        4
                      </div>
                     </span>
                    </span>
                    <span class="" data-grid-cell="true" tabindex="-1" >
                        <div aria-hidden="true" class="">
                          5
                        </div>
                       </span>
                      </span>
                      <span class="" data-grid-cell="true" tabindex="-1" >
                        <div aria-hidden="true" class="r4nke ">
                          6
                        </div>
                       </span>
                      </span>
                      <span class="" data-grid-cell="true" tabindex="-1" >
                          <div aria-hidden="true" class="r4nke ">
                            7
                          </div>
                         </span>
                        </span>
                      </div>
                      <div role="row" class="">
                          <span class="" data-grid-cell="true" tabindex="-1" >
                            <div aria-hidden="true" class="">
                              3
                            </div>
                           </span>
                          </span>
                          <span class="" data-grid-cell="true" tabindex="-1" >
                            <div aria-hidden="true" class="r4nke ">
                              4
                            </div>
                           </span>
                          </span>
                          <span class="" data-grid-cell="true" tabindex="-1" >
                              <div aria-hidden="true" class="">
                                5
                              </div>
                             </span>
                            </span>
                            <span class="" data-grid-cell="true" tabindex="-1" >
                              <div aria-hidden="true" class="r4nke ">
                                6
                              </div>
                             </span>
                            </span>
                            <span class="" data-grid-cell="true" tabindex="-1" >
                                <div aria-hidden="true" class="r4nke ">
                                  7
                                </div>
                               </span>
                              </span>
                            </div>
                            <div role="row" class="">
                                <span class="" data-grid-cell="true" tabindex="-1" >
                                  <div aria-hidden="true" class="">
                                    3
                                  </div>
                                 </span>
                                </span>
                                <span class="" data-grid-cell="true" tabindex="-1" >
                                  <div aria-hidden="true" class="r4nke ">
                                    4
                                  </div>
                                 </span>
                                </span>
                                <span class="" data-grid-cell="true" tabindex="-1" >
                                    <div aria-hidden="true" class="">
                                      5
                                    </div>
                                   </span>
                                  </span>
                                  <span class="" data-grid-cell="true" tabindex="-1" >
                                    <div aria-hidden="true" class="r4nke ">
                                      6
                                    </div>
                                   </span>
                                  </span>
                                  <span class="" data-grid-cell="true" tabindex="-1" >
                                      <div aria-hidden="true" class="r4nke ">
                                        7
                                      </div>
                                     </span>
                                    </span>
                                  </div>                                                                                            
       </table>
  </div>
</div>