<navi-bar></navi-bar>
<logo-bar></logo-bar>
<div class = 'panel callout'>
  <h1>{{pageTitle}}</h1>
</div>

<div class= 'panel' >
  <div class ='row'>
    <div class='large-2 columns'>
      Filter By:
    </div>
  </div>
  <div class='large-10 columns'>
    <input type='text' [(ngModel)] = 'listFilter' />
  </div>
  <div>
    <table>
      <div class="MSZkRb">
        <span class="">March 2018</span>
        <div role="button" class="" aria-label="Previous month" aria-disabled="false" tabindex="0" >
          <div class="" ></div>
          <content class="xjKiLb">
            <span style="top: -9px">
            </span>
          </content>
        </div>
        <div role="button" class="" aria-label="Next month" aria-disabled="false" tabindex="0">
        <div class="" ></div>
        <content class="">
          <span style="top: -9px">
            <span class="" aria-hidden="true"></span>
          </span>
        </content>
      </div>
    </div>
    <div role="row" class="">
      <span role="columnheader" aria-readonly="true" aria-label="Monday">
        <span aria-hidden="true">M</span>
      </span>
    </div>
    </table>
  </div>
</div>