<navi-bar></navi-bar>
<logo-bar></logo-bar> 
<div class="row">
  <div class="small-1 large-2 columns"></div>
  <div class="small-10 large-8 columns"><h2>Tailor Made Systems For Business</h2></div>
  <div class="small-1 large-2 columns"></div>
</div>
<div class="row">
  <div class="large-1 columns"></div>
  <div class="large-10 small-10 columns">
     <p class="first-paragraph">
                
      <span class="firstLetter">A</span>business structure can be a complex web of all the parts and cogs 
       that fit together to make it a success or not. If you are providing a product or service at any level many factors 
       need to be considered to make it profitable
       or successful. From your workforce to your customers and from the components to make your products or services
       you offer to promoting your business all needs to be systemised and accounted for. Reports, invoices, stock control
       and accounts all need processing.
      </p>
      <p> 
        Diamond Edge could streamline this for you making each task a simpler process. We can provide an easy user friendly
        business system with a feature rich set of tools to fulfill your business needs.
        Whether it's booking an appointment or delivering an essential product part to a supplier or retailer, 
        it will be managed in a professional and organised way using simple 
        clear cut user interfaces to make it look and feel sharp with the state of the art Diamond Edge pathway.
      </p>
  </div>
  <div class="large-1 columns"></div>  
 </div>   
<div class="row">
  <div class="small-1 large-2 columns"></div>
  <div class="small-10 large-8 columns"><h2>In Partnership With You.</h2></div>
  <div class="small-1 large-2 columns"></div>
</div>
<div class="row">
  <div class="large-1 columns"></div>
  <div class="large-10 small-10 columns">
     <p>
       We will be giving you great stuff from day one. The first projects will be a CRM with an email manager for customer 
       contact, a product manager and a time management system. These first products will set you on the right path to a 
       well organised business system. It's then up to you to decide what you require next so we can continue to build a 
       complete package which is right for you.
      </p>
  </div>
  <div class="large-1 columns"></div>
  </div>     
<div class="row">
  <div class="small-1 large-2 columns"></div>
  <div class="small-10 large-8 columns"><h2>The First 21 Keys.</h2></div>
  <div class="small-1 large-2 columns"></div>
</div>
<div class="row">
  <div class="large-1 columns"></div>
  <div class="large-10 small-10 columns">
     <p>
      We want you to be in the first 21 companies. We will look after you and give you 60 hours of development time in the
      first year. 
      Have you wanted to redesign 
      your web site? Do you want your customers to have easy access to your products and services from your website? This is the
      chance for you to have this and more.
      </p>
      <p>  
       We will ask for a year's membership to Diamond Edge for this package. That is only £1200 working out at £100 per month!. 
       Remember the first 21 keys will receive the better offer as we build the business and the backing we receive will help 
       us to grow
       and offer even better business solutions. </p>
       <p>
        Contact Diamond Edge and we will explore how we can help with your business needs today. 
       So join me in this new and exciting business venture.  
      </p>
  </div>
  <div class="large-1 columns"></div>
  </div>